
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
}

.game-image {
    width: 200px;
    height: 400px;
  }
  .game-price-container div {
    color: rgb(41, 39, 39);
    margin-bottom: 20px;
  }
  
  .game-buy-button {
    cursor: pointer;
    margin: 20px;
  }
  